<div id="<%= dom_id friendd %>">
  <p>
    <strong>First name:</strong>
    <%= friendd.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friendd.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friendd.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friendd.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friendd.twitter %>
  </p>
  <p>
    <strong>User id:</strong>
    <%= friendd.user_id %>
  </p>

</div>
